<!DOCTYPE html>
<html xmlns="http://org.themeleaf.com">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>home - lenny </title>
    <link href="/resources/styles/site.css" rel="stylesheet" />
    <script src="/resources/scripts/jquery.min.js"></script>
    <script src="/resources/scripts/manage.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <a href="#">
            <div class="nav-item">Home</div>
        </a>
        <a href="#">
            <div class="nav-item">Frontend</div>
        </a>
        <a href="#">
            <div class="nav-item">Backend</div>
        </a>

        <div class="clear"></div>
    </div>
</div>
<div class="banner"></div>
<div class="container">
    <div class="grid-6 left">
       <div>
           <div><input type="text" id="title" /></div>
           <div>
               <textarea id="content" cols="50" rows="20">
               </textarea>
           </div>
           <div>
               <select id="category">
                   <option value="Frontend">Frontend</option>
                   <option value="Backend">Backend</option>
               </select>
           </div>
           <div>
               <input type="text" id="tags" />
           </div>
           <div class="warning"></div>
           <div><input type="button" value="提交" id="btnAddArticle" /></div>
       </div>

    </div>

    <div class="grid-3 right">
        <div class="block">
            <div><a href="/manage/addArticle.do">增加文章</a></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="container center footer">
    Copyright 2015 Lenny, all rights reserved. <a href="/manager/login">manager</a>
</div>
</body>
</html>