<!DOCTYPE html>
<html xmlns="http://org.themeleaf.com">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>home - lenny </title>
    <link href="/resources/styles/site.css" rel="stylesheet" />
    <script src="resources/scripts/jquery.min.js"></script>
    <script src="/resources/scripts/site.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <a href="#">
            <div class="nav-item">Home</div>
        </a>
        <a href="#">
            <div class="nav-item">Frontend</div>
        </a>
        <a href="#">
            <div class="nav-item">Backend</div>
        </a>

        <div class="clear"></div>
    </div>
</div>
<div class="banner"></div>
<div class="container">
    <div class="grid-6 left">
        <div class="post">
            <h2><a href="#" class="post-title">Hello World</a></h2>

            <p class="time">Published on 2015-3-29</p>

            <div class="post-content">
                <p>jdfios ajkdahskj asuirhs sa adhuis ad hfudha sas fheuihi asdua gbdhjkbg sba fdabhiufi a fsbuaifia</p>

                <p>jdfios ajk daf d gdshk da dfjkk a hskj asuirhs sa adhuis ad hfudha sas fheuihi asdua gbdhjkbg sba
                    fdabhiufi a fsbuaifia</p>

                <p>jdfios ajkdahskj asuirhs sa adhuis ad hfudha sas fheuihi asdua gbdhjkbg sba fdabhiufi a fsbuaifia</p>
            </div>
            <div class="post-tags">
                <a href="#" class="post-tags-item">Backend</a>
                <a href="#" class="post-tags-item">Frontend</a>
            </div>
        </div>

        <div class="post">
            <h2><a href="#" class="post-title">Hello World</a></h2>

            <p class="time">Published on 2015-3-29</p>

            <div class="post-content">
                <p>jdfios ajkdahskj asuirhs sa adhuis ad hfudha sas fheuihi asdua gbdhjkbg sba fdabhiufi a fsbuaifia</p>

                <p>jdfios ajk daf d gdshk da dfjkk a hskj asuirhs sa adhuis ad hfudha sas fheuihi asdua gbdhjkbg sba
                    fdabhiufi a fsbuaifia</p>

                <p>jdfios ajkdahskj asuirhs sa adhuis ad hfudha sas fheuihi asdua gbdhjkbg sba fdabhiufi a fsbuaifia</p>
            </div>
            <div class="post-tags">
                <a href="#" class="post-tags-item">Backend</a>
                <a href="#" class="post-tags-item">Frontend</a>
            </div>
        </div>
    </div>

    <div class="grid-3 right">
        <div class="block">
            <h3>CATALOGS</h3>
            <ul class="sidebar-list">
                <li><a href="#">Backend (1)</a></li>
                <li><a href="#">Frontend (2)</a></li>
            </ul>
        </div>
        <div class="block">
            <h3>CATALOGS</h3>
            <ul class="sidebar-list">
                <li><a href="#">Backend (1)</a></li>
                <li><a href="#">Frontend (2)</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="container center footer">
    Copyright 2015 Lenny, all rights reserved. <a href="/manage/login.do">manager</a>
</div>
</body>
</html>