<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>home - lenny </title>
    <link href="/resources/styles/site.css" rel="stylesheet" />
    <script src="/resources/scripts/jquery.min.js"></script>
    <script src="/resources/scripts/side.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <a href="/index.do" class="Home">
            <div class="nav-item">Home</div>
        </a>
        <a href="/category/show.do?post=Frontend" class="Frontend">
            <div class="nav-item">Frontend</div>
        </a>
        <a href="/category/show.do?post=Backend" class="Backend">
            <div class="nav-item">Backend</div>
        </a>
        <div class="clear"></div>
    </div>
</div>
<div class="banner"></div>
<div class="container">
    <input th:type="hidden" th:value="${category}" id="category" />
    <div class="grid-6 left" id="main">
    </div>

    <div class="grid-3 right">
        <div class="block">
            <h3>CATALOGS</h3>
            <ul class="sidebar-list" id="categories">
            </ul>
        </div>
        <div class="block">
            <h3>CATALOGS</h3>
            <ul class="sidebar-list" id="ptime">
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="container center footer">
    Copyright 2015 Lenny, all rights reserved. <a href="/manage/login.do">manager</a>
</div>

<script src="/resources/scripts/site.js"></script>
</body>
</html>